// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$card-size: 2;

body {
  background-color: #303030;
  color: white;
  font-family: 'Arial';
}

.links {
  width: 100%;
  text-align: center;
}

.card {
  width: 50px * $card-size;
  height: 30px * $card-size;
  border: 1px solid black;
  border-radius: 5px * $card-size;
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
}

.route-card {
  background-color: white;
  font-size: 9pt;
  padding: 3px;
  text-align: center;
  color: black;
}

$white: white;
.white {
  background-color: $white;
  stroke: $white;
}

.white-svg-text {
  fill: #FFF;
}

$yellow: yellow;
.yellow {
  background-color: $yellow;
  stroke: $yellow;
}

$orange: orange;
.orange {
  background-color: $orange;
  stroke: $orange;
}

.black {
  background-color: black;
  color: white;
  stroke: black;
}

$red: red;
.red {
  background-color: $red;
  stroke: $red;
}

$green: green;
.green {
  background-color: $green;
  stroke: $green;
}

$blue: #39F;
.blue {
  background-color: $blue;
  stroke: $blue;
}


$purple: #CC00CC;
.purple {
  background-color: $purple;
  stroke: $purple;
}

.gray {
  stroke: gray;
}

.wild {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.link-outline
{
  stroke: white;
  opacity: 0.07;
}

.link-outline.owned
{
  opacity: 0.7;
}

.cards form {
  display: inline-block;
}

.city-label {
  font-family: 'Arial';
  font-size: 16pt;
  fill: #F7F7F7;

  $shadow: #3D3D3D;

  text-shadow:
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 $shadow,
    1px -1px 0 $shadow,
   -1px  1px 0 $shadow,
    1px  1px 0 $shadow,
    0px  0px 3px black;
}

.hand {
  padding: 15px;
  text-align: left;
}

.hand .card {
  margin-right: -80px;
}

svg .card.black {
  border: 1px solid white;
}

.hand .last-card {
  margin-right: auto;
}

.flash.error {
  background-color: red;
  text-align: center;
}

.big-text {
  font-family: 'Arial';
  font-size: 16pt;
}

.small-text {
  font-size: 10pt;
}

.extra-vgap {
  margin-bottom: 25px;
}

.sidebar {
  fill: #121212;
}

a:link {
  color: #FF0DF7;
}

.connected {
  background: lime;
}

svg {
  background: url(/map.png) no-repeat scroll -90px 50px / 130% auto transparent;
  display: inline-block;
  text-align: left;
//  background: url(/game.png);
//  background-position: 0px -50px;
}
