// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$card-size: 2;

.card {
  width: 50px * $card-size;
  height: 30px * $card-size;
  border: 1px solid black;
  border-radius: 5px * $card-size;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.route-card {
  font-size: 9pt;
  padding: 3px;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.black {
  background-color: black;
  color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.wild {
  border: 1px solid red;
  background-color: lime;
}

.cards form {
  display: inline-block
}

svg {
  background-color: #E6E6E6;
}
