// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$card-size: 2;

.card {
  width: 50px * $card-size;
  height: 30px * $card-size;
  border: 1px solid black;
  border-radius: 5px * $card-size;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.route-card {
  font-size: 9pt;
  padding: 3px;
}

$white: white;
.white {
  background-color: $white;
  stroke: $white;
}

$yellow: yellow;
.yellow {
  background-color: $yellow;
  stroke: $yellow;
}

$orange: orange;
.orange {
  background-color: $orange;
  stroke: $orange;
}

.black {
  background-color: black;
  color: white;
  stroke: black;
}

$red: red;
.red {
  background-color: $red;
  stroke: $red;
}

$green: green;
.green {
  background-color: $green;
  stroke: $green;
}

$blue: #39F;
.blue {
  background-color: $blue;
  stroke: $blue;
}


$purple: #CC00CC;
.purple {
  background-color: $purple;
  stroke: $purple;
}

.gray {
  stroke: gray;
}

.wild {
  border: 1px solid red;
  background-color: lime;
}

.cards form {
  display: inline-block;
}

.city-label {
  font-family: 'Arial';
  font-size: 12pt;
  fill: #F7F7F7;
  text-shadow: 1px 1px 3px black;
}

svg {
  background: url(/map.png) no-repeat scroll -220px 0px / 145% auto transparent;
//  background: url(/game.png);
//  background-position: 0px -50px;
}
